<script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.9.1/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.9.1/firebase-analytics.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: "AIzaSyBlDc4Wznec6BrXB3-Pzu1K0MMpUefrhV8",
    authDomain: "hallisonoliveirablog.firebaseapp.com",
    projectId: "hallisonoliveirablog",
    storageBucket: "hallisonoliveirablog.appspot.com",
    messagingSenderId: "621228822445",
    appId: "1:621228822445:web:e0c2873880207bc7dd5b24",
    measurementId: "G-4LTEWNZ7T6"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
</script>
