<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">

  <div class="sidebar-item">
    <h4 style="color: white; text-align: center">{{ site.title }}</h4>
  </div>

  <div style="text-align: center">
    <a href="https://www.linkedin.com/in/hallisonoliveira" style="margin-right: 8px">
      <img src="/src/images/linkedin.png"/>
    </a>
    <a href="https://github.com/hallisonoliveira" style="margin-right: 15px">
      <img src="/src/images/github.png"/>
    </a>
    <a href="https://twitter.com/hallisoncwb">
      <img src="/src/images/twitter.png"/>
    </a>
  </div>
  <br />

  <nav class="sidebar-nav">
    {% for item in site.data.urls %}
      {% if site.lang == "pt" %}
        <a class="sidebar-nav-item" href="{{ item.url }}">{{ item.title }}</a>
      {% else %}
        <a class="sidebar-nav-item" href="{{ item.url_en }}">{{ item.title_en }}</a>
      {% endif %}
    {% endfor %}
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. Todos os direitos reservados.
    </p>
  </div>
</div>