a:hover {
    color: #939393
}

li.social-media {
    padding: 8px;
}

footer {
    background-color: whitesmoke;
    padding: 4px 10px 0 10px;
}

.footer-content-title {
    font-size: smaller;
}

.footer-content-text {
    font-size: x-small
}

.post-image {
    margin: 20px;
    text-align: center;
}